@import 'tailwindcss';

:root {
  --background: #fff1d5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ssa-red: #f85b76;
  --color-ssa-red-light: #ff879c;
  --color-ssa-pink: #ffb4c1;
  --color-ssa-pink-light: #ffccd5;
  --color-ssa-red-lighter: #ffb3bf;
  --color-ssa-red-super-light: #fe6681d9;
  --color-stripe-purple: #635bff;
  --color-ssa-yellow: #ffe6b6;
  --color-ssa-yellow-light: #fff7e9;
  --color-ssa-white: #fefcf9;
  --color-ssa-black: #0a0805;
  --color-ssa-skin-yellow: #ffe3ac;
  --color-ssa-dark-skin-yellow: #ffd586;
  --color-ssa-light-grey: #828282;
  --color-ssa-light-brown: #caaf7e;
  --color-ssa-smoke-grey: #5e5e5e;
  --color-ssa-grey: #434242;
  --color-ssa-background: #fff1d5;
  --color-ssa-card: #fff8ec;
  --color-ssa-card-cta: #ffeccb;
  --color-ssa-card-cta-hover: #ffdfab;
  --color-ssa-cta-text: #633c3c;
  --color-ssa-cta-border: #ec415e;
  --color-ssa-contact-cta: #ffc5c5;
  --color-ssa-contact-cta-hover: #eab7bf;
  --color-ssa-muted-gold: #9f7d32;
  --color-ssa-category-text: #968055;
  --color-ssa-badge-light: #fce6ba;
  --color-ssa-badge-light-text: #706f6f;
  --color-footer-white: #ffffff;
  --color-footer-pink-1: #ff637e;
  --color-footer-pink-2: #fe6982;
  --color-footer-pink-3: #ffa2a4;
  --color-footer-peach-1: #ffc6ba;
  --color-footer-peach-2: #ffdbc7;
  --color-footer-peach-3: #ffdfca;
  --color-footer-peach-4: #ffe3cc;
  --color-footer-cream: #fff1d5;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-averia: var(--font-averia);
  --font-alegreya: var(--font-alegreya);
  --font-be-vietnam-pro: var(--font-be-vietnam-pro);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@utility animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
