@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ssa-red: #f85b76;
  --color-ssa-red-light: #ff879c;
  --color-ssa-red-lighter: #ffb3bf;
  --color-stripe-purple: #635bff;
  --color-ssa-yellow: #ffe6b6;
  --color-ssa-yellow-light: #fff7e9;
  --color-ssa-white: #fefcf9;
  --color-ssa-black: #0a0805;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-averia: var(--font-averia);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
